.container{
    border: black solid;
    width: 500px;
    padding: 5px;
    margin-left: 25%;
    margin-top: 20px;
    

}


.header{
    background-color: rgb(241, 241, 143);
    border: solid black 1px;
    text-align: center;
    color: red;
    
}

.key{
    border: solid 1px;
    background-color: rgb(55, 191, 245);
    padding-left: 10px;
    width: 180px;
    height: 100%;
    


}

.form-control{
    border: solid 1px;
    background-color: rgb(55, 191, 245);
    padding-left: 10px;
    width: 290px;
    padding: 5px;
    position: relative;

}

.box{
    width: 95%;
    background-color: rgb(167, 253, 204);
    padding-left: 5px;
    
}
.file  {
    text-align: center;
 
}


.btn{
    
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.bgcolor{
    
    background-color: rgb(167, 253, 204);

}

small{
    color: red;
    
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;

}

.form-control i,small {
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: green;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle, .form-control.error small{
    color: red;
    visibility: visible;
}